* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    color: #999ca2;
    background: radial-gradient(circle at top, #0296ba, #020617);
}

